body {
  margin: 0;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.component{
  display: flex;
  align-items: center;
  justify-content: flex-start;
    margin: 33px;
    padding: 20px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.NavBar{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: rgb(230, 216, 218);
   color: black;
   width: 100%;
   height: 70px;
}
.c :hover{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.home{
  color: black;
}
.links{  
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 12px;
}
.links a{
  margin: 15px;
  text-decoration: none;
  list-style: none;
  color: black;
}
/* Create Blog */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: pink;
  margin-bottom: 30px;
}
.create input, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 0px 0px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  display: block;
}
.create button{
  background-color: pink;
  color: black;
  border: 0;
  margin: 15px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create textarea{
  width: 100%;
  height: 147px;
  padding: 6px 10px;
  margin: 0px 0px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  display: block;
}